@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Roboto:wght@300;500&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.philosopher {
    font-family: 'Philosopher';
}

.shadow {
    -webkit-box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 1px 7px 16px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 1px 7px 16px 1px rgba(0, 0, 0, 0.12);
}

#page {
    @apply max-w-screen-2xl mx-auto;
}




